@namespace yui "http://yui.akabana.seasar.org/1.0";

yui|YuiFrameworkSettings {
    namingConventionClass:ClassReference("org.seasar.akabana.yui.framework.convention.CatalystNamingConvention");
    frameworkBridgePlugin:ClassReference("org.seasar.akabana.yui.framework.bridge.Flex4FrameworkBridgePlugin");  
}

.customizers{
    c30:ClassReference("org.seasar.akabana.yui.framework.customizer.CatalystHelperCustomizer");
    c40:ClassReference("org.seasar.akabana.yui.framework.customizer.CatalystEventHandlerCustomizer");
}