
.customizers{
    classNames:c1,c2;
        
    c1:ClassReference("org.seasar.akabana.yui.framework.customizer.ActionCustomizer");  
    c2:ClassReference("org.seasar.akabana.yui.framework.customizer.EventHandlerCustomizer");       
}