global{
    font-size:18;
    padding-bottom:0;
    padding-left:0;
    padding-right:0;
    padding-top:0;
    vertical-gap:0;
    horizontal-gap:0;
}

Panel {
   borderColor: #ffffff;
   borderAlpha: 1;
   roundedBottomCorners: false;
   cornerRadius: 0;
   borderThicknessRight: 0;
   headerHeight: 30;
   backgroundAlpha: 1;
   highlightAlphas: 0, 0;
   headerColors: #ffffff, #ffffff;
   footerColors: #ffffff, #ffffff;
   backgroundColor: #ffffff;
   dropShadowEnabled: false;
}