@namespace yui "http://akb7.jp/yui/2.0";
@namespace core "jp.akb7.yui.core.*";

core|YuiFrameworkSettings {
    namingConventionClass:ClassReference("jp.akb7.yui.convention.Flex4NamingConvention");
    frameworkBridgePlugin:ClassReference("jp.akb7.yui.bridge.Flex4FrameworkBridgePlugin");
    autoMonitoring:false;
}
