@namespace yui "http://yui.akabana.seasar.org/2.0";

yui|YuiFrameworkSettings {
    namingConventionClass:ClassReference("org.seasar.akabana.yui.framework.convention.Flex4NamingConvention");
    frameworkBridgePlugin:ClassReference("org.seasar.akabana.yui.framework.bridge.Flex4FrameworkBridgePlugin");
    autoMonitoring:false;
}
